.contenitore{
  background: black;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: auto;
}

.container_todos{
  margin-top: 50px;
}

.button_visualization{
  display: inline;
  margin: 10px;
}